{
	debug
	log {
		level DEBUG
		format console
		output file log/caddy.log
	}
}
localhost {
	root * ./static
	@notStatic {
		not {
			file {
				try_files {path}
			}
		}
	}
	file_server
	reverse_proxy @notStatic {http.request.header.Host}:80{uri} {
		transport http {
			tls
		}
	}
	try_files {path} /index.html
}
