{
	debug
	log {
		level DEBUG
		format console
		output file log/caddy.log
	}
}
localhost {
	@notStatic {
		not {
			file {
				root static
				try_files {path}
			}
			host localhost
		}
	}
	file_server {
		root static
	}
	reverse_proxy @notStatic {
		to {host}{query}
	}
}
