<html>
	<head>
       <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.js"></script>
		<script src="js/wasm_exec.js"></script>
        <script src="js/index.js"> </script>
	</head>
	<body>
        <div id="app">
            <v-app>
                <v-navigation-drawer app>
                </v-navigation-drawer>
                <v-app-bar app >
                    <v-app-bar-title> 博客导出工具 </v-app-bar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon>
                        <v-icon dark color="black">mdi-github-circle</v-icon>
                    </v-btn>

               </v-app-bar>
                <v-main>
                    <template v-slots:extension>
                        <v-tabs align-with-title bottom left>
                            <v-tab v-on:click="site='CSDN'"> CSDN </v-tab>
                        </v-tabs>
                    </template>
                    <v-sheet id="scrolling-techniques-4" class="overflow-y-auto" max-height="600">
                        <v-container style="height: 1000px;">
                            <v-card>
                                <div class="d-flex flex-no-wrap justify-space-between">
                                    <div>
                                        <v-card-title >
                                            CSDN博客
                                            <v-avatar size="50" tile class="ma-10">
                                                <v-img contain src="img/pluginIcon.png"/>
                                            </v-avatar>
 
                                        </v-card-title>
                                        <v-card-subtitle>
                                            导出CSDN博客
                                        </v-card-subtitle>
                                    </div>
                               </div>
                                <v-divider></v-divider>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="4" md="3">
                                            <v-text-field
                                                name="user"
                                                label="博客名"
                                                placeholder="你的博客名称"
                                                id="id"
                                                v-model="params.user"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="4" md="3">
                                            <v-text-field
                                                name="cookie"
                                                label="Cookie"
                                                placeholder="登录后的Cookie"
                                                v-model="params.cookie"
                                                id="id"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="4" md="3">
                                            <v-text-field
                                                name="output"
                                                label="导出文件夹"
                                                placeholder="导出文件夹"
                                                id="id"
                                                v-model="params.output"
                                            >
                                            </v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                                <v-card-actions>
                                    <v-btn text color="primary" @click="callBlogExporter">开始</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-container>
                    </v-sheet>
                </v-main>
            </v-app>
        </div>
    </body>
</html>